/* Estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body.container {
    background-color: #dcdcdc8e;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="5" r="0.3" fill="%23ccc" /></svg>');
    background-size: 40px 40px;
    font-family: "Open-Sans";
}

/* Estilos para o header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    flex: 1;
}

h1[contenteditable="true"] {
    font-size: 1.4rem;
    margin: 0;
}

.actions {
    display: flex;
    gap: 10px;
}

/* Estilos para os botões */
.publish-button {
    background-color: #2E59D9;

    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.publish-button:hover {
    background-color: #2242A4;
}

.sidebar {
    position: fixed;
    top: 80px;
    /* Recuo do header */
    left: 20px;
    /* Recuo do lado esquerdo */
    width: 300px;
    height: calc(100% - 80px);
    /* Altura do viewport menos recuo superior e inferior */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 0;
    overflow: auto;
    /* Adicione scroll se o conteúdo for maior que a altura */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.titulo {
    font-weight: bold;
}

.sidebar .box {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.sidebar-button {
    width: 93%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.122);
    /* Adicione a borda preta */
    border-radius: 10px;
    /* Adicione o arredondamento da borda */
    background-color: #FAFAFA;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 12px;
    font-family: "Open Sans", sans-serif;
    /* Adicione um espaço entre os botões */
}

.sidebar-button i {
    margin-right: 10px;
}

.sidebar-button:hover {
    background-color: #E0E0E0;
    /* Altere a cor de fundo ao passar o mouse */
}



/* Estilos para o card */
.flow-card-start {
    width: 250px;
    height: 120px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 16px;
    cursor: grab;
    position: fixed;
    /* Altere para fixed para centralizar */
    top: 35%;
    /* Centralize verticalmente */
    left: 25%;
    /* Centralize horizontalmente */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ajustar a sombra */
    transition: border-color 0.3s;
    /* Adicionar transição para suavizar a mudança de cor */
    z-index: -1;
    /* Defina uma camada abaixo dos outros elementos */
    font-family: "Open Sans", sans-serif;
    /* Adicione a fonte */
    font-size: 16px;
    /* Tamanho do texto */
    color: #27272a;
    /* Adicione a cor do texto */
    font-weight: bold;
    /* Adicione o negrito */

    /* Adicione esta parte para o círculo azul */
    &::after {
        content: '';
        position: absolute;
        top: 60%;
        right: -8px;
        /* Posição do círculo à direita do card */
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-color: #2E59D9;
        border-radius: 50%;
        cursor: copy;
        /* Adicione o cursor de ponteiro */
        z-index: -1;
        /* Defina uma camada abaixo dos outros elementos */
    }

}



.fa-circle-play {
    font-size: 40px;
    /* Ajuste o tamanho conforme necessário */
    color: #244CC0;
    margin-left: 10px;

}

.flow-card-start.active {
    border-color: #2E59D9;
    /* Adicionar borda de contorno azul ao card ativo */
}


.flow-card-text {
    margin-top: 15px;
    margin-left: 10px;
    font-family: "Open Sans";
    font-size: 12px;


}

.card-title {

    margin-left: 13px;
}

.card-group {
    display: flex;
    align-items: center;

}


.flow-pane {}

.icon-blue {
    color: #244CC0;
}

.icon-orange {
    color: #e67200;
}


/* Estilo para os ícones de zoom */
.zoom-controls {
    position: fixed;
    bottom: 550px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.zoom-button {
    background-color: #FAFAFA;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.122);
}

.zoom-button:hover {
    background-color: #E0E0E0;
}

.zoom-button i {
    font-size: 20px;
    color: blue;
}