/* Estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.container {
    background-color: #dcdcdc8e;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="5" r="0.3" fill="%23ccc" /></svg>');
    background-size: 40px 40px;
    font-family: "Open-Sans";
    background-color: #dcdcdc8e;

}

/* ================================== */

/* Estilos para o header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    flex: 1;
}

h1[contenteditable="true"] {
    font-size: 1.4rem;
    margin: 0;
}

.actions {
    display: flex;
    gap: 10px;
}

/* Estilos para o botão */
.publish-button {
    background-color: #2E59D9;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.publish-button:hover {
    background-color: #2242A4;
}

/* ================================== */

/* Estilo para os ícones de zoom */
.zoom-controls {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 5px;
    top: 80px;
    right: 10px;
}

.zoom-button {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.122);
    border-radius: 50%;
    cursor: pointer;
    background-color: #FAFAFA;
    transition: background-color 0.3s;
}

.zoom-button:hover {
    background-color: #E0E0E0;
}

.zoom-button i {
    font-size: 20px;
    color: blue;
}

/* ================================== */

/* Estilo para os Nav */
.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: calc(100% - 80px);
    gap: 5px;
    top: 80px;
    left: 10px;
    width: 300px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 0;
    overflow: auto;
}

.titulo {
    margin-top: 20px;
    font-weight: bold;
}

.sidebar .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar-button {
    display: flex;
    font-family: "Open-Sans";
    width: 93%;
    padding: 10px;
    margin-bottom: 12px;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.122);
    cursor: pointer;
    background-color: #FAFAFA;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.sidebar-button:hover {
    background-color: #E0E0E0;
}

.sidebar-button.selected {
    position: absolute;
}

.sidebar-button i {
    margin-right: 10px;
}

/* ================================== */


.fa-circle-play {
    font-size: 40px;
    color: #244CC0;
}

/*Cículo azul ao lado do Nome do Card.*/
.fa-comments {
    font-size: 18px;
    color: #ffffff;

}

.circle-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2E59D9;
    color: white;
}



.icon-blue {
    color: #244CC0;
}

.icon-orange {
    color: #f37b0b;
}

.icon-purple {
    color: #800080;
}

/* ================================== */

.lock-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* Bordas arredondadas */
    border: none;
    /* Remover a borda padrão */
    cursor: pointer;

}

#lockIcon {
    font-size: 18px;
    display: inline-block;
    /* Para ajustar o espaçamento vertical */
    vertical-align: middle;
    /* Centralizar verticalmente */
}

.lock-button:hover {
    background-color: #999;
    /* Cor do botão ao passar o mouse */
}


.maximize-button{
    margin-top: 300px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    /* Bordas arredondadas */
    position: absolute


}

#maximizedIcon {
    font-size: 18px;
    display: inline-block;
    /* Para ajustar o espaçamento vertical */
    vertical-align: middle;
    /* Centralizar verticalmente */
}

.maximize-button:hover {
    background-color: #999;
    /* Cor do botão ao passar o mouse */
}


.sidebar.minimized {
    width: 50px;
    /* Largura mínima após minimização */
}

/* Seta dentro do cart de Texto*/
.arrow-icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white; /* Cor do fundo do círculo */
    border: 1px solid #ccc; /* Borda do círculo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arrow-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 4px 0 4px 8px;
    border-left-color: #494949; /* Cor da seta */
    transform: translate(-50%, -50%);
}

/* ================================== */